:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

body{
  height: 100vh;
  background-color: #ddd;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
}
.cepSearch{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cepInput{
  display: flex;
  width: 50px;
  border-radius: 25px;

}
.buscar{
  display: inline-block;

}
.result{
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}
